div {
  box-sizing: border-box;
}
.BoxContent {
  position: absolute;
  transform-style: preserve-3d;
  width: 25rem;
  height: 25rem;
  top: 50%;
  left: 50%;
  margin: -10rem 0 0 -10rem;
  transform: rotateY(32.0491rad) rotateX(-0.2441rad);
}
.BoxContent > div {
  position: absolute;
  background: rgb(217, 217, 217);
}
.font {
  background: rgb(16, 92, 168) !important;
}
.back {
  background: rgb(85, 168, 17) !important;
  /* background: rgb(148, 148, 148) !important;
  border-radius: 4rem;
  box-shadow: -31px 31px 47px -13px #656565;
  transform-style: preserve-3d; */
}

.top {
  top: 0;
}
.bottom {
  bottom: 0;
}
.right {
  right: 0;
}
.left,
.right {
  transform-style: preserve-3d;
}
.leftTop,
.rightTop {
  transform-style: preserve-3d;
  position: absolute;
  width: 100%;
}
.leftBottom,
.rightBottom {
  transform-style: preserve-3d;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.curve {
  position: absolute;
  width: 100%;
  background: rgb(217, 217, 217);
}
