* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  -moz-user-select: none; /*火狐*/
  -webkit-user-select: none; /*webkit浏览器*/
  -ms-user-select: none; /*IE10*/
  -khtml-user-select: none; /*早期浏览器*/
  user-select: none;
}
#app {
  perspective: 1800px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-size: 100%;
}
#opening {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 999;
  transition: 2s all;
}
#openingLogo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-100%) scale(2);
  animation: openingAnimationStart ease-out 4s forwards;
}
@keyframes openingAnimationStart {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(100%) scale(2);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(-100%) scale(2);
  }
}
@keyframes openingAnimationMiddle {
  0% {
    opacity: 1;
    transform: translateX(-50%) translateY(-100%) scale(2);
  }
  20% {
    opacity: 0.1;
    transform: translateX(-50%) translateY(-100%) scale(2);
  }
  40% {
    opacity: 1;
    transform: translateX(-50%) translateY(-100%) scale(2);
  }
  60% {
    opacity: 0.1;
    transform: translateX(-50%) translateY(-100%) scale(2);
  }
  80% {
    opacity: 1;
    transform: translateX(-50%) translateY(-100%) scale(2);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(100%) scale(2);
  }
}
@keyframes SlowHidden {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.albumContent {
  width: 65rem;
  position: absolute;
  top: 0rem;
  left: 25rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  transform-style: preserve-3d;
}
.albumImage {
  box-sizing: border-box;
  width: 10rem;
  height: 10rem;
  background-size: 100% !important;
  border: solid 1px #fff;
}
.albumImage::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(35deg, #ffffff38 51%, transparent 52%);
}
#cdBox {
  transform-style: preserve-3d;
  width: 25rem;
  height: 25rem;
  position: static;
  margin: 0;
  transition: 1s all;
  margin-bottom: 1px;
  transform: rotateX(28deg) translateZ(17px) translateY(17px);
}
#cdBox .bottom {
  transform-style: preserve-3d;
}
#cdBox .bottom::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  transform: rotateX(-28deg) translateY(-2px) skewX(1deg) scale(0.85);
  box-shadow: -8px -20px 18px 5px #00000066, 0px -37px 17px 20px #00000061;
}
#cdBox .font {
  width: 10.1rem;
  height: 10rem;
  transform: translateZ(0.5rem);
  border-left: solid 1rem rgba(255, 255, 255, 0.5);
}
#cdBox .top,
#cdBox .bottom {
  border-left: solid 1rem rgba(255, 255, 255, 0.5);
  border: solid 1px #9a9a9a47;
}

#cdBox .left {
  background: rgba(255, 255, 255, 0.5) !important;
  border: solid 1px #9a9a9a47;
}
#cdBox .back {
  background: rgba(255, 255, 255, 0.5) !important;
  box-shadow: 0 -0.2em 1em rgba(0, 0, 0, 0.15),
    0 0.2em 0.1em -5px rgba(0, 0, 0, 0.3),
    0 -0.75em 1.75em rgba(254, 254, 254, 0.6);
}
#cdPlatform {
  height: 1rem;
  margin: 0;
  width: 65rem;
  top: 0;
  left: 0;
  position: static;
  margin-bottom: 4rem;
  transform: translateZ(3rem);
}
#cdPlatform .back {
  width: 65rem;
  box-shadow: 1px 28px 20px 9px #00000036, -2px 10px 13px 5px #00000059;
  height: 1rem;
  transform: translateZ(-4rem) scale(0.98) skewX(-12deg) !important;
}
#cdPlatform .font,
#cdPlatform .top,
#cdPlatform .bottom,
#cdPlatform .left,
#cdPlatform .right {
  background: url("http://hituyu.hnbcdn.com/20160915ecd28053eb6c76e8a613816543cea75f.jpg") !important;
}
#cdPlatform .left::after,
#cdPlatform .font::after,
#cdPlatform .bottom::after,
#cdPlatform .top::after,
#cdPlatform .right::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
}
#cdPlatform .left::after {
  background: #00000061;
}
#cdPlatform .font::after {
  background: linear-gradient(-117deg, #ffffff4a 55%, transparent 74%);
}
#cdPlatform .bottom::after {
  background: #00000054;
}
#cdPlatform .right::after {
  background: #ffffff21;
}
#cdPlatform .top::after {
  background: #0000001c linear-gradient(180deg, #00000045, transparent);
}

#manualContent {
  width: 60rem;
  height: 23rem;
  position: absolute;
  top: 0rem;
  left: -65rem;
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
  flex-wrap: wrap;
  background: url("http://hituyu.hnbcdn.com/2016091538a6a8d94a46948fdca4d6ee6239ce39.jpg");
  background-size: 26%;
  box-shadow: 0 0 10px 0px #0000004a, inset 0 0 4px 2px #00000075;
  z-index: 999;
  border: solid 10px transparent;
  border-image: url("http://hituyu.hnbcdn.com/20160915c5f0f51dbd5f8f9d0eabcea943a9a513.jpg")
    30 repeat;
}
.manualPaper {
  position: relative;
  width: 25%;
  height: 83%;
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/ricepaper2.png");
}
.manualPaper::after,
.manualPaper::before {
  width: 60%;
  height: 50%;
  display: block;
  position: absolute;
  z-index: -1;
  content: "";
  bottom: 13px;
}
.manualPaper::after {
  transform-origin: top right;
  left: 10px;
  transform: rotateZ(-5deg);
  box-shadow: 4px 0 13px 7px #00000091;
}
.manualPaper::before {
  transform-origin: top left;
  right: 10px;
  transform: rotateZ(5deg);
  box-shadow: -4px 0 13px 7px #00000091;
}
.pushPinContent {
  width: 1.8rem;
  height: 2.2rem;
  position: absolute;
  top: -1.1rem;
  left: 50%;
  transform: translateX(-54%) skewX(23deg) skewY(-19deg) scale(0.7) scaleY(0.8);
  background: url(./src/image/Pushpin.png);
  background-size: 100%;
}
.pushPinContent::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: #123;
}
