body {
  font-family: sans-serif;
}
.app {
}
#Front {
  width: 500px;
  height: 500px;
  background-color: #e6e6e6;
  border-radius: 110px;
  overflow: hidden;
  box-shadow: 0 0 0px 4px #e8e8e8, 0 0 3px 3px #dadadad1 inset;
  position: relative;
  background-image: radial-gradient(#a7a7a7 27%, #e0e0e0c2 30%, transparent 0%);
  background-size: 7px 7px;
}
.CDBack {
  width: 80%;
  height: 80%;
  background: #e6e6e6;
  background-position: 0% 49%;
  background-size: 12% 43%;
  background-image: url(./src/CDReader.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 1px 0 7px 10px #e6e6e6, -2px 0 7px 2px #6d6d6d82 inset;
}
.CD {
  width: 88%;
  height: 88%;
  background: #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: solid 2px #fff;
  /* box-shadow: -8px 8px 8px 0px #5858588a; */
  transform-origin: top left;
}
.CDinner {
  width: 25%;
  height: 25%;
  background: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: solid 2px #e0e0e0cc;
  background-image: radial-gradient(
    transparent 0%,
    transparent 63%,
    #7d7d7dcf 64%,
    65%,
    transparent 66%
  );
}
.CDFixed {
  width: 45%;
  height: 45%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.circle {
  animation: circle 3s infinite linear;
}
@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  100% {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}
